.directory {

    .directory-nav {
        margin: 10px;

        .link {
            color: black;
            font-weight: 800;
        }
    }

    .cards-container {
        display: grid;
        justify-content: space-evenly;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr fr;
        gap: 20px;
        padding: 10px;
    }

}