.cart-icon {
    width: 45px;
    height: 45px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: whitesmoke;

    .item-count {
        position: absolute;
        font-size: 10px;
        font-weight: bold;
        bottom: 13px;
        margin: auto;
        padding-left: 1px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
}
.cart-icon:hover {
    color: pink;
}
